<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="developers.hub.com.thelearningapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="com.google.firebase.ml.vision.DEPENDENCIES"
        android:value="ocr" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Editor"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".Compiler" />
        <activity android:name=".QuestionOpener" />
        <activity android:name=".CodingQuestions" />
        <activity android:name=".PageSliderIntro" />
        <activity android:name=".ProfileViewNav" />
        <activity
            android:name=".Discussion"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_discussion"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".Forum" />
        <activity android:name=".LeaderBoard" />
        <activity android:name=".profile" />
        <activity android:name=".VideoDetailsU2" />
        <activity android:name=".Youtube_Activity" />
        <activity android:name=".Open_Course_Activity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".logo_activity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Helper.home"
            android:theme="@style/nLiveoDrawer" />
    </application>

</manifest>